[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
flask = "*"
ibm-watson = ">=3.2.0"
responses = "*"
pynamodb = "*"

[requires]
python_version = "3.7"
